@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


@layer custom {
    .my-inputswitch {
        border-radius: 0;
    }
}

@layer bootstrap-reboot, primeng;

@layer normalize, primeng;

body {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e7f5e6;
    min-height: 50vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
