<nav class="navbar" style="background-color: #e7f5e6;">
    <div class="container-fluid">
      <img src="https://i.imgur.com/MhhJt15.png" [routerLink]="['/home']" class="navbar-brand">
      <div class="left">
        <button type="button" class="btn" [routerLink]="['/home']"><h4>Inicio</h4></button>
        <button type="button" class="btn"><h4>Gastos</h4></button>
      </div>
      <div class="right">
        <button type="button" class="btn btn-outline-success" [routerLink]="['/create-account']">Registrarse</button>
    </div>
    </div>
  </nav>
  
    <h1>
        ¡Bienvenido a Mi <span class="highlight">Gasto</span> Seguro!
    </h1>
    <h5>
        ¡Gracias por comprar el acceso a "Mi <span class="highlight">Gasto</span> Seguro"!
        Comencemos a organizar los movimientos financieros de tu empresa.
    </h5>
    <div class="buttonAcceder">
        <button type="button" class="btn btn-lg custom-green-button" [routerLink]="['/home-user-type-2']">Administrar mis datos</button>
    </div>