/* Barra de navegación */

.right {
    margin-left: auto;
}
.right button {
    margin-right: 10px;
}
.left {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.logo {
    color: black;
    margin-left: 10px;
    margin-right: 5px;
}
.btn {
    color: black;
}
.navbar-brand {
    margin-left: 0;
    width: 150px;
    height: auto;
}
.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(110, 112, 211);
    height: 80px;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.left button {
    margin-right: 5px;
    color: black;
}
.container-fluid {
    display: flex;
    align-items: center;
}

/* Contenido */
.content {
    margin: 50px 200px;
    max-width: 800px;
}
h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
h5 {
    font-size: 25px;
    margin-bottom: 15px;
}
h6 {
    font-size: 17px;
    margin-bottom: 15px;
}
.highlight {
    color: green;
}
.title1 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.p1 {
    font-size: 17px;
    margin-bottom: 20px;
}
.title2 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
}
ul {
    margin-bottom: 15px;
    padding-left: 20px;
}
ul li {
    font-size: 17px;
    margin-bottom: 5px;
}
p {
    font-size: 17px;
    margin-bottom: 15px;
}
