<nav class="navbar" style="background-color: #e7f5e6;">
    <div class="container-fluid">
      <img src="https://i.imgur.com/MhhJt15.png" [routerLink]="['/home']" class="navbar-brand">
      <div class="left">
        <button type="button" class="btn" [routerLink]="['/home']"><h4>Inicio</h4></button>
        <button type="button" class="btn"><h4>Gastos</h4></button>
      </div>
      <div class="right">
        <button type="button" class="btn btn-outline-success" [routerLink]="['/my-account']">Mi cuenta</button>
      </div>
    </div>
</nav>

<h1>¡Bienvenido <span class="highlight">Usuario</span>!</h1>
<h5>
    Comencemos a organizar tus <span class="highlight">gastos.</span>
    Aprende a tener un orden de tus ingresos, para una mejor estabilidad
    financiera con Mi <span class="highlight">gasto</span> seguro.
</h5>
<div class="buttonHome">
    <button type="button" class="btn btn-lg custom-green-button" [routerLink]="['/home-user']">Comenzar YA</button>
</div>
<img src="https://i.imgur.com/fpMmYxd.jpeg" class="center">