/* Barra de navegación */

.right {
    margin-left: auto;
}

.right button {
    margin-right: 10px;
}

.left {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logo {
    color: black;
    margin-left: 10px;
    margin-right: 5px;
}

.btn {
    color: black;
}

.navbar-brand {
    margin-left: 0;
    width: 150px;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(110, 112, 211);
    height: 80px;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left button {
    margin-right: 5px;
    color: black;
  }
  
.container-fluid {
  display: flex;
  align-items: center;
}

/* Contenido */

h1 {
    width: 400px;
    height: auto;
    position: absolute;
    left: 150px;
    top: 100px;
    margin-top: 3%;
    font-size: 50px;
}

.highlight {
    color: green;
}

h5 {
    width: 450px;
    height: auto;
    position: absolute;
    left: 150px;
    top: 220px;
    margin-top: 5%;
    font-size: 25px;
}

.custom-green-button {
    background-color: #208839;
    border-color: #28a745;
    color: #ffffff;
    margin-left: 0px;
    margin-top: 20px;
}
  
.custom-green-button:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.image {
    width: 805px;
    margin-left: 515px;
}

.mb-3 {
    color: black;
    width: 375px;
    height: auto;
    position: absolute;
    left: 140px;
    top: 340px;
}

.col-md-4 {
    color: black;
    width: 375px;
    height: auto;
    position: absolute;
    left: 795px;
    top: 150px;
}

.col-md-5 {
    color: black;
    width: 375px;
    height: auto;
    position: absolute;
    left: 795px;
    top: 250px;
}

.col-md-6 {
    color: black;
    width: 375px;
    height: auto;
    position: absolute;
    left: 795px;
    top: 400px;
}