/* Barra de navegación */

.right {
    margin-left: auto;
}

.right button {
    margin-right: 10px;
}

.left {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logo {
    color: black;
    margin-left: 10px;
    margin-right: 5px;
}

.btn {
    color: black;
}

.navbar-brand {
    margin-left: 0;
    width: 150px;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(110, 112, 211);
    height: 80px;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left button {
    margin-right: 5px;
    color: black;
  }
  
.container-fluid {
  display: flex;
  align-items: center;
}

/* Contenido */


h1 {
    width: 550px;
    height: auto;
    position: absolute;
    left: 200px;
    top: 120px;
    margin-top: 3%;
    font-size: 50px;
}

.highlight {
    color: green;
}

h5 {
    width: 450px;
    height: auto;
    position: absolute;
    left: 200px;
    top: 170px;
    margin-top: 5%;
    font-size: 25px;
}

 .buttonHome {
    width: 650px;
    height: auto;
    position: absolute;
    top: 410px;
    right: 460px;
}

.custom-green-button {
    background-color: #208839;
    border-color: #28a745;
    color: #ffffff;
    font-size: 40px;
}
  
.custom-green-button:hover {
    background-color: #218838;
    border-color: #1e7e34;
 }

 .center {
    width: 350px;
    height: auto;
    position: absolute;
    right: 200px;
    top: 145px;
}