/* Barra de navegación */

.right {
    margin-left: auto;
}

.right button {
    margin-right: 10px;
}

.left {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logo {
    color: black;
    margin-left: 10px;
    margin-right: 5px;
}

.btn {
    color: black;
}

.navbar-brand {
    margin-left: 0;
    width: 150px;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(110, 112, 211);
    height: 80px;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left button {
    margin-right: 5px;
    color: black;
  }
  
.container-fluid {
  display: flex;
  align-items: center;
}

/* Contenido */

h1 {
    width: 750px;
    height: auto;
    position: absolute;
    left: 320px;
    top: 50px;
    margin-top: 3%;
    font-size: 50px;
}

.highlight {
    color: green;
}

h5 {
    width: 750px;
    height: auto;
    position: absolute;
    left: 290px;
    top: 150px;
    margin-top: 5%;
    font-size: 25px;
}