<nav class="navbar" style="background-color: #e7f5e6;">
  <div class="container-fluid">
    <img src="https://i.imgur.com/MhhJt15.png" [routerLink]="['/home']" class="navbar-brand">
    <div class="left">
      <button type="button" class="btn" [routerLink]="['/home']"><h4>Inicio</h4></button>
      <button type="button" class="btn"><h4>Gastos</h4></button>
    </div>
    <div class="right">
        <button type="button" class="btn btn-outline-success" [routerLink]="['/my-account']">Mi cuenta</button>
    </div>
  </div>
</nav>

<h1>
    Personalicemos <span class="highlight">tú</span> experiencia.
</h1>
<h5 class="text3">¿Qué gastos piensas administrar?
</h5>
<button type="button" class="btn" [routerLink]="['/pay-for-access-1']"><h5 class="text2">Soy un usuario que quiere administrar sus <span class="highlight">gastos</span> personales. ($250 mxn)
</h5></button>
<button type="button" class="btn" [routerLink]="['/pay-for-access-2']"><h5 class="text2_2">Soy un usuario que quiere administrar los <span class="highlight">gastos</span> de una empresa. (450 mxn)
</h5></button>
<img src="https://i.imgur.com/UkTHtt4.png" class="izq" [routerLink]="['/pay-for-access-1']">
<img src="https://i.imgur.com/RcOQDrD.png" class="der" [routerLink]="['/pay-for-access-2']">