<nav class="navbar" style="background-color: #e7f5e6;">
    <div class="container-fluid">
      <img src="https://i.imgur.com/MhhJt15.png" [routerLink]="['/home']" class="navbar-brand">
      <div class="left">
        <button type="button" class="btn" [routerLink]="['/home']"><h4>Inicio</h4></button>
        <button type="button" class="btn"><h4>Gastos</h4></button>
      </div>
      <div class="right">
        <button type="button" class="btn btn-outline-success" [routerLink]="['/create-account']">Registrarse</button>
        <button type="button" class="btn btn-outline-success" [routerLink]="['/login']">Iniciar Sesión</button>
      </div>
    </div>
  </nav>

  <img src="https://i.imgur.com/gqJrHHl.png" class="image">

  <h1>
    Mi <span class="highlight">Gasto</span> Seguro
  </h1>
  <h5>
    Accede a todas las herramientas de "Mi <span class="highlight">Gasto</span> seguro", utiliza nuestra IA <span class="highlight">Financiebot</span> que te ayudará a mantener en orden tus gastos.
  </h5>
  <h5 class="text2">Pago único de <span class="highlight">$250 MXN</span> para acceder.
  </h5>
  <h5 class="text3">
    Tu compra nos ayuda a mantener la página web y proporcionar
  </h5>
  <h5 class="text4">
    mejora continua. Esto <span class="highlight">no</span> es una subscripción.
  </h5>


  <div class="buttonAcceder">
    <button type="button" class="btn btn-lg custom-green-button" [routerLink]="['/successful-payment-1']">Acceder</button>
  </div>

  <form class="row g-3">
    <div class="mb-4">
      <label for="exampleFormControlInput1" class="form-label">Número de la tarjeta.</label>
      <input type="text" inputmode="numeric" maxlength="19" pattern="[0-9]*" id="cardNumberInput"
      (input)="formatCardNumber($event)" class="form-control" id="exampleFormControlInput1" placeholder="Los 16 números de tu tarjeta.">
    </div><div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nombre del titular.</label>
      <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Nombre completo">
    </div>
    <div class="col-md-4">
        <label for="exampleFormControlInput1" class="form-label">Fecha de expiración.</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="MM/YY">
    </div>
    <div class="col-md-4-2">
            <label for="exampleFormControlInput1" class="form-label">Código de seguridad</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="0 0 0">
    </div>
    <h5 class="text3-p2">
        Al dar click en Acceder aceptas el cargo de $250 mxn
      </h5>
      <h5 class="text4-p2">
        en tu cuenta bancaria para acceder.
      </h5>
  </form>
  